.title {
  margin: auto;
}
.title h1 {
  text-align: center;
}
.title p {
  text-align: center;
}

button h3 {
  font-family: "roboto";
}

/* .header {
  background-color: #caffbf;
}

.title {
  background-color: #caffbf;
} */

/*villa */

.villa button {
  width: 290px;
  height: 61px;
  border: 2px solid #023047;
  background: transparent;
  position: relative;
  padding: 0;
  color: #023047;
}

.villa button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #cb9f29 50%, transparent 50%);
  z-index: -1;
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
  color: #ffffff;
}

.villa button:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.villa .row {
  margin-left: 0;
  margin-right: 0;
  width: inherit;
}

.villa .carousel {
  margin-left: 1.5rem;
}

/*facility*/
.facility button {
  width: 290px;
  height: 61px;
  border: 2px solid #023047;
  background: transparent;
  position: relative;
  padding: 0;
  color: #023047;
}

.facility button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #cb9f29 50%, transparent 50%);
  z-index: -1;
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
  color: #ffffff;
}

.facility button:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.facility .row {
  margin-left: 0;
  margin-right: 0;
  width: inherit;
}

.facility .carousel {
  padding-right: 1.5rem;
}

/*meeting*/
.meeting button {
  width: 290px;
  height: 61px;
  border: 2px solid #023047;
  background: transparent;
  position: relative;
  padding: 0;
  color: #023047;
}

.meeting button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #cb9f29 50%, transparent 50%);
  z-index: -1;
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
  color: #ffffff;
}

.meeting button:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.meeting .row {
  margin-left: 0;
  margin-right: 0;
  width: inherit;
}

.meeting .carousel {
  margin-left: 1.5rem;
}

/*locate*/
.location {
  margin: auto;
}
.location h1 {
  text-align: center;
}

.villa {
  margin-top: 100px;
}
.meeting {
  margin-top: 100px;
}
.facility {
  margin-top: 100px;
}
.location {
  margin-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .title h1 {
    text-align: center;
  }
  .title p {
    text-align: center;
  }

  .villa p {
    width: 150px;
  }

  .meeting p {
    width: 150px;
  }

  .villa button {
    width: 100px;
    height: 30.5px;
  }
  .facility button {
    width: 100px;
    height: 30.5px;
  }
  .meeting button {
    width: 100px;
    height: 30.5px;
  }

  iframe {
    width: 200px;
    height: 150px;
  }

  .villa {
    margin-top: 50px;
  }
  .meeting {
    margin-top: 50px;
  }
  .facility {
    margin-top: 50px;
  }
  .location {
    margin-top: 50px;
  }
}
